@model IEnumerable<GestionEmploye.Models.Employe>

<link href="@Url.Content("~/css/employe.css")" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (((List<Employe>) ViewBag.Employees).Count != 0)
{
    <table class="admin-tables table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">E-mail</th>
            <th scope="col">Durée congé</th>
            <th scope="col">Montant salaire</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var employe in (List<Employe>) ViewData["Employees"])
        {
            <tr>
                <th scope="row">@employe.PersonId</th>
                <td>@employe.Person.Nom</td>
                <td>@employe.Person.Prenom</td>
                <td>@employe.Person.Email</td>
                <td>@employe.CongeRemaining</td>
                <td>@employe.CurrentSalary</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employe.PersonId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@employe.PersonId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@employe.PersonId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p><pre class="fw-bold fs-5">Rien à afficher ici -</pre></p>
}