@model IEnumerable<GestionEmploye.Models.Employe>

<link href="@Url.Content("~/css/admin.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/css/salary.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/css/employe.css")" rel="stylesheet" type="text/css"/>

@{
    ViewData["Title"] = "Index";
}

<div class="card-body">
    <h2 class="card-title">Liste des Employés</h2>
    <hr class="sep"/>
</div>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>

<div class="list card">
    <div class="employe-list card-body">
        @if (((List<Employe>) ViewBag.Employees).Count != 0)
        {
            <table class="admin-tables table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Durée congé</th>
                    <th scope="col">Montant salaire</th>
                </tr>
                </thead>
    
                <tbody>
                @foreach (var employe in (List<Employe>) ViewData["Employees"])
                {
                    <tr>
                        <th scope="row">@employe.PersonId</th>
                        <td>@employe.Person.Nom</td>
                        <td>@employe.Person.Prenom</td>
                        <td>@employe.Person.Email</td>
                        <td>@employe.CongeRemaining</td>
                        <td>@employe.CurrentSalary</td>
                        <td>
                            <div class="icon-wrapper">
                                <a asp-action="Edit" asp-route-id="@employe.PersonId" class="icon" style="--color: 16, 172, 132">
                                    <svg class="svg-man" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"/>
                                    </svg>
                                </a>
                                <a asp-action="Details" asp-route-id="@employe.PersonId" class="icon">
                                    <svg class="svg-man" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/>
                                    </svg>
                                </a>
                                <a asp-action="Delete" asp-route-id="@employe.PersonId" class="icon" style="--color: 238, 82, 83">
                                    <svg class="svg-man" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"/>
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>
                <pre class="fw-bold fs-5">Rien à afficher ici -</pre>
            </p>
        }
    </div>
</div>