@model GestionEmploye.Models.Salary

<link href="@Url.Content("~/css/admin.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/css/employe.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/css/salary.css")" rel="stylesheet" type="text/css"/>

@{
    ViewData["Title"] = "Index";
}

<div class="card-body">
    <h2 class="card-title">Formulaire de paiement</h2>
    <hr class="sep"/>
</div>

<form asp-action="Create" class="mb-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="EmployeId" class="control-label"></label>
        <select asp-for="EmployeId" class="form-control" asp-items="ViewBag.EmployeId"
                style="text-transform: capitalize">
        </select>
    </div>
    <div class="d-flex gap-3 flex-wrap py-4">
        <div class="form-group flex-grow-1">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control"/>
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group flex-grow-1">
            <label asp-for="Month" class="control-label"></label>
            <input asp-for="Month" class="form-control" type="month"/>
            <span asp-validation-for="Month" class="text-danger"></span>
        </div>
        <div class="form-group flex-grow-1">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" class="form-control" asp-items="ViewBag.StatusList"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group d-flex justify-content-end">
        <input type="submit" value="Ajouter" class="btn btn-primary"/>
    </div>
</form>

<div class="card-body">
    <h2 class="card-title">Liste des Paiements</h2>
    <hr class="sep"/>
</div>

<div class="list card">
    <div class="paie-list card-body">
    
        <!-- TODO -->
        @if (((List<Salary>) ViewData["Salaries"]).Count != 0)
        {
            <table class="admin-tables table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employé</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Mois</th>
                    <th scope="col">Année</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
    
                <tbody>
                @foreach (var salary in ((List<Salary>) ViewData["Salaries"])!)
                {
                    <tr>
                        <th scope="row">@salary.Id</th>
                        <td class="employe-col">@salary.Employe.Person.Nom @salary.Employe.Person.Prenom (@salary.EmployeId)</td>
                        <td>@salary.Amount</td>
                        <td>@salary.Month.Month</td>
                        <td>@salary.Month.Year</td>
                        <td>
                            <button class="status @(salary.Status.Contains("Pending") ? "btn btn-outline-warning" : "btn btn-outline-success")"
                                    style="--status-color: @(salary.Status.Contains("Pending") ? "254, 202, 87" : "0, 210, 211")">
                                @if (salary.Status.Contains("Pending"))
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                        <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                }
                                else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                }
                                @salary.Status
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>
                <pre class="fw-bold fs-5">Rien à afficher ici -</pre>
            </p>
        }
    </div>
</div>
