@model GestionEmploye.Models.Salary

<link href="@Url.Content("~/css/admin.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/css/employe.css")" rel="stylesheet" type="text/css"/>
<link href="@Url.Content("~/css/salary.css")" rel="stylesheet" type="text/css"/>

<link href="@Url.Content("~/css/formulaire.css")" rel="stylesheet" type="text/css"/>


@{
    ViewData["Title"] = "Index";
}

<div class="card-body" style="padding: 0; border-radius: 12px;background-color: white;">
    <div class="card-body">
        <h2 class="card-title">Formulaire de paiement</h2>
        <hr class="sep"/>
    </div>
    
    <form asp-action="Create" class="card-body mb-3" style="color: black;margin-top: -50px; border-radius: 12px; padding: 0 50px;padding-top: 50px; padding-bottom: 20px">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
        <div class="form-group">
            <label asp-for="EmployeId" class="label control-label"></label>
            <div class="input-wrapper input-group mb-3">
                <div class="col">
                    <select asp-for="EmployeId" class="form-control" asp-items="ViewBag.EmployeId"
                            style="text-transform: capitalize; color:  black">
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex gap-3 flex-wrap py-4" style="margin-top: -20px">
            <div class="form-group flex-grow-1">
                <label asp-for="Month" class="label control-label"></label>
                <div class="input-wrapper input-group mb-3">
                    <div class="col">
                        <input asp-for="Month" class="form-control" type="month" style="color:  black"/>
                        <span asp-validation-for="Month" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group flex-grow-1">
                <label asp-for="Status" class="label control-label"></label>
                <div class="input-wrapper input-group mb-3">
                    <div class="col">
                        <select asp-for="Status" class="form-control" asp-items="ViewBag.StatusList" style="color:  black"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group flex-grow-1">
                <label class="label control-label">Déductions(DH)/Absence</label>
                <div class="input-wrapper input-group mb-3">
                    <div class="col">
                        <input name="deductionsPerAbsent" class="form-control" type="number" style="color:  black" value="50"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group mb-3" style="margin-top: -10px;width: 100%;padding: 10px 0;border-radius: 5px">
            <input type="submit" value="Ajouter" class="icon btn btn-primary" style="background-color: var(--primary-color);padding: 10px 30px"/>
        </div>
    </form>
</div>

<div class="card-body" id="lst">
    <h2 class="card-title">Liste des Paiements</h2>
    <hr class="sep"/>
</div>

<div class="list card">
    <div class="paie-list card-body">

        @if (((List<Salary>) ViewData["Salaries"]).Count != 0)
        {
            <table class="admin-tables table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Employé</th>
                    <th scope="col">Montant ( DH )</th>
                    <th scope="col">Mois</th>
                    <th scope="col">Année</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var salary in ((List<Salary>) ViewData["Salaries"])!)
                {
                    <tr>
                        <th scope="row">@salary.Id</th>
                        <td class="employe-col">@salary.Employe.Person.Nom @salary.Employe.Person.Prenom (@salary.EmployeId)</td>
                        <td>@salary.Amount</td>
                        <td>@salary.Month.Month</td>
                        <td>@salary.Month.Year</td>
                        <td>
                            <button class="status @(salary.Status.Contains("Pending") ? "btn btn-outline-warning" : "btn btn-outline-success")"
                                    style="--status-color: @(salary.Status.Contains("Pending") ? "254, 202, 87" : "0, 210, 211")">
                                @if (salary.Status.Contains("Pending"))
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                        <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                }
                                else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                }
                                @(salary.Status == "Pending" ? "En cours" : "Payé")
                            </button>
                        </td>
                        <td class="row-action">
                            <div class="icon-wrapper">
                                <form asp-action="Paid" class="delete-form" style='@(salary.Status == "Pending" ? "" : "opacity:0;pointer-events: none;")'>
                                    <input type="hidden" asp-for="@salary.Id" name="Id"/>
                                    <label>
                                        <input type="submit" value="Delete" style="display:none"/>
                                        <a class="icon" style="--color: 16, 172, 132">
                                            <svg class="svg-man" viewBox="0 0 448 512">
                                                <path
                                                    d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/>
                                            </svg>
                                        </a>
                                    </label>
                                </form>
                                <form asp-action="Delete" class="delete-form">
                                    <input type="hidden" asp-for="@salary.Id" name="Id"/>
                                    <label>
                                        <input type="submit" value="Delete" style="display:none"/>
                                        <a class="icon" style="--color: 238, 82, 83">
                                            <svg class="svg-man" viewBox="0 0 448 512">
                                                <path
                                                    d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"/>
                                            </svg>
                                        </a>
                                    </label>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>
                <pre class="fw-bold fs-5">Rien à afficher ici -</pre>
            </p>
        }
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}