@using System.Linq

<link href="@Url.Content("~/css/admin.css")" rel="stylesheet" type="text/css"/>

@* @foreach(var employe in (List<Employe>) @ViewData["Employees"]){ *@
@*     <p>@employe.Person.Nom</p> *@
@* } *@

<div class="sticky-icons"
     style="position: fixed; z-index: 99; border: 1px solid black; width: fit-content; right: 0;display: flex;flex-direction: column; align-items: flex-end;" >
    <a href="#employeSection">Employés</a>
    <a href="#congeSection">Congés</a>
    <a href="#paymentSection">Paiements</a>
</div>

<h2>Dashboard</h2>
<div class="d-flex gap-3 flex-wrap">
    <div class="admin-card p-4">
        <div class="icon rounded-circle">
            <svg viewBox="0 0 1129.000000 1280.000000" style="transform: none;">
                <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none">
                    <path
                        d="M7305 12790 c-607 -70 -1153 -365 -1531 -830 -201 -247 -361 -571 -433 -880 -25 -108 -48 -267 -55 -395 l-7 -100 79 -52 c264 -172 566 -475 751 -753 240 -359 369 -698 444 -1168 l12 -74 70 -30 c736 -313 1568 -210 2214 275 397 298 691 742 816 1231 79 312 88 678 24 996 -151 743 -672 1361 -1384 1640 -130 50 -292 94 -450 121 -138 23 -426 33 -550 19z"/>
                    <path
                        d="M3595 10489 c-331 -32 -675 -148 -966 -329 -543 -337 -915 -895 -1024 -1540 -22 -130 -31 -438 -16 -581 56 -538 297 -1028 687 -1398 644 -610 1587 -781 2408 -437 420 176 788 493 1036 891 204 328 330 773 330 1164 0 864 -501 1654 -1283 2026 -356 169 -772 242 -1172 204z"/>
                    <path
                        d="M6560 8138 c0 -77 -30 -309 -55 -433 -100 -495 -351 -977 -695 -1338 l-100 -105 67 -22 c480 -157 939 -429 1297 -769 318 -302 527 -584 716 -966 138 -280 227 -541 284 -835 50 -256 58 -365 63 -872 l5 -477 97 5 c774 41 1429 143 2056 320 335 95 741 245 886 329 43 25 85 45 94 45 14 0 16 116 12 1288 -3 1257 -3 1290 -24 1417 -85 515 -256 925 -555 1323 -113 152 -340 386 -478 496 -470 373 -997 580 -1593 626 -67 5 -562 10 -1099 10 l-978 0 0 -42z"/>
                    <path
                        d="M2680 5873 c-919 -58 -1751 -553 -2247 -1338 -204 -324 -336 -684 -406 -1110 -21 -127 -21 -159 -24 -1447 l-4 -1317 73 -21 c40 -12 163 -49 273 -82 1681 -501 3384 -669 4921 -483 869 105 1676 325 2226 606 l86 44 1 1258 c1 797 -3 1293 -9 1355 -35 330 -122 640 -259 927 -154 321 -335 571 -590 818 -401 386 -879 635 -1431 743 -243 48 -218 47 -1420 49 -624 1 -1160 0 -1190 -2z"/>
                </g>
            </svg>
        </div>
        <div>
            <h2>Total des employés</h2>
            <p class="value">@ViewData["TotalEmployees"]</p>
        </div>
    </div>
    <div class="admin-card p-4">
        <div class="icon rounded-circle" style="--color:11,163,30">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="dash-icons bi bi-bookmarks-fill" viewBox="0 0 16 16">
                <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/>
                <path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/>
            </svg>
        </div>
        <div>
            <h2>Demandes de congés</h2>
            <p class="value">@ViewData["TotalDemandeConges"]</p>
        </div>
    </div>
    <div class="admin-card p-4">
        <div class="icon rounded-circle" style="--color:220,53,69">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="dash-icons bi bi-piggy-bank-fill" viewBox="0 0 16 16">
                <path d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069c0-.145-.007-.29-.02-.431.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a.95.95 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.735.735 0 0 0-.375.562c-.024.243.082.48.32.654a2.112 2.112 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595Zm7.173 3.876a.565.565 0 0 1-.098.21.704.704 0 0 1-.044-.025c-.146-.09-.157-.175-.152-.223a.236.236 0 0 1 .117-.173c.049-.027.08-.021.113.012a.202.202 0 0 1 .064.199Zm-8.999-.65a.5.5 0 1 1-.276-.96A7.613 7.613 0 0 1 7.964 3.5c.763 0 1.497.11 2.18.315a.5.5 0 1 1-.287.958A6.602 6.602 0 0 0 7.964 4.5c-.64 0-1.255.09-1.826.254ZM5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"/>
            </svg>
        </div>
        <div>
            <h2>Paiements pour @DateTime.Now.Month.ToString("D2")/@DateTime.Now.Year</h2>
            <p class="value">@ViewData["TotalSalaries"]</p>
        </div>
    </div>


</div>

<div class="list card">
    <div class="card-body" id="employeSection">
        <h2 class="card-title">Liste des Employés</h2>
        <hr class="sep"/>
    </div>
    <div class="employe-list card-body">

        @if (((List<Employe>) ViewBag.Employees).Count != 0)
        {
            <table class="admin-tables table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Durée congé</th>
                    <th scope="col">Montant salaire</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var employe in (List<Employe>) ViewData["Employees"])
                {
                    <tr>
                        <th scope="row">@employe.Person.Id</th>
                        <td>@employe.Person.Nom</td>
                        <td>@employe.Person.Prenom</td>
                        <td>@employe.Person.Email</td>
                        <td>@employe.CongeRemaining</td>
                        <td>@employe.CurrentSalary</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>
                <pre class="fw-bold fs-5">Rien à afficher ici -</pre>
            </p>
        }
    </div>
</div>

<div class="card" style="margin-top: 3.0em;background-color: transparent">
    <div class="card-body" id="congeSection">
        <h2 class="card-title">Liste des Congés</h2>
        <hr class="sep"/>
    </div>

    <div class="list card-body">
        <h4 class="card-subtitle">
            <strong>En demande</strong>
        </h4>
        <div class="conge-list card-body">
            @if (((List<Conge>) ViewBag.PendingConges).Count != 0)
            {
                <table class="admin-tables table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id employé</th>
                        <th scope="col">Nom employé</th>
                        <th scope="col">Prenom employé</th>
                        <th scope="col">Durée</th>
                        <th scope="col">Début congé</th>
                        <th scope="col">Temps restant</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var conge in ((List<Conge>) ViewData["PendingConges"])!)
                    {
                        <tr>
                            <th scope="row">@conge.Id</th>
                            <td>@conge.EmployeId</td>
                            <td>@conge.Employe.Person.Nom</td>
                            <td>@conge.Employe.Person.Prenom</td>
                            <td>@conge.Duration</td>
                            <td>@conge.Date</td>
                            <td>@conge.Employe.CongeRemaining</td>
                            <td>
                                @{
                                    string button_class;
                                    string button_color;
                                    if (conge.Status.Contains("Pending"))
                                    {
                                        button_class = "btn btn-outline-warning";
                                        button_color = "254, 202, 87";
                                    }
                                    else if (conge.Status.Contains("Declined"))
                                    {
                                        button_class = "btn btn-outline-danger";
                                        button_color = "255, 107, 107";
                                    }
                                    else
                                    {
                                        button_class = "btn btn-outline-success";
                                        button_color = "0, 210, 211";
                                    }
                                }
                                <button class="status @(button_class)"
                                        style="--status-color: @(button_color)">
                                    @if (button_class.Contains("warning"))
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                    }
                                    else if (button_class.Contains("success"))
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-check-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons" viewBox="0 0 512 512">
                                            <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM175 208.1L222.1 255.1L175 303C165.7 312.4 165.7 327.6 175 336.1C184.4 346.3 199.6 346.3 208.1 336.1L255.1 289.9L303 336.1C312.4 346.3 327.6 346.3 336.1 336.1C346.3 327.6 346.3 312.4 336.1 303L289.9 255.1L336.1 208.1C346.3 199.6 346.3 184.4 336.1 175C327.6 165.7 312.4 165.7 303 175L255.1 222.1L208.1 175C199.6 165.7 184.4 165.7 175 175C165.7 184.4 165.7 199.6 175 208.1V208.1z"/>
                                        </svg>
                                    }
                                    @conge.Status
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>
                    <pre class="fw-bold fs-6">Rien à afficher ici -</pre>
                </p>
            }
        </div>
    </div>

    <div class="list card-body">
        <h4 class="card-subtitle">
            <strong>En cours</strong>
        </h4>
        <div class="conge-list card-body">

            @if (((List<Conge>) ViewBag.CurrentConges).Count != 0)
            {
                <table class="admin-tables table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id employé</th>
                        <th scope="col">Nom employé</th>
                        <th scope="col">Prenom employé</th>
                        <th scope="col">Durée</th>
                        <th scope="col">Début congé</th>
                        <th scope="col">Temps restant</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var conge in ((List<Conge>) ViewData["CurrentConges"])!)
                    {
                        <tr>
                            <th scope="row">@conge.Id</th>
                            <td>@conge.EmployeId</td>
                            <td>@conge.Employe.Person.Nom</td>
                            <td>@conge.Employe.Person.Prenom</td>
                            <td>@conge.Duration</td>
                            <td>@conge.Date</td>
                            <td>@conge.Employe.CongeRemaining</td>
                            <td>
                                @{
                                    string button_class;
                                    string button_color;
                                    if (conge.Status.Contains("Pending"))
                                    {
                                        button_class = "btn btn-outline-warning";
                                        button_color = "254, 202, 87";
                                    }
                                    else if (conge.Status.Contains("Declined"))
                                    {
                                        button_class = "btn btn-outline-danger";
                                        button_color = "255, 107, 107";
                                    }
                                    else
                                    {
                                        button_class = "btn btn-outline-success";
                                        button_color = "0, 210, 211";
                                    }
                                }
                                <button class="status @(button_class)"
                                        style="--status-color: @(button_color)">
                                    @if (button_class.Contains("warning"))
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                    }
                                    else if (button_class.Contains("success"))
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-check-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons" viewBox="0 0 512 512">
                                            <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM175 208.1L222.1 255.1L175 303C165.7 312.4 165.7 327.6 175 336.1C184.4 346.3 199.6 346.3 208.1 336.1L255.1 289.9L303 336.1C312.4 346.3 327.6 346.3 336.1 336.1C346.3 327.6 346.3 312.4 336.1 303L289.9 255.1L336.1 208.1C346.3 199.6 346.3 184.4 336.1 175C327.6 165.7 312.4 165.7 303 175L255.1 222.1L208.1 175C199.6 165.7 184.4 165.7 175 175C165.7 184.4 165.7 199.6 175 208.1V208.1z"/>
                                        </svg>
                                    }
                                    @conge.Status
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>
                    <pre class="fw-bold fs-6">Rien à afficher ici -</pre>
                </p>
            }
        </div>
    </div>
</div>

<div class="list card">
    <div class="card-body" id="paymentSection">
        <h2 class="card-title">Liste des Paiements</h2>
        <hr class="sep"/>
    </div>
    <div class="paie-list card-body">

        <!-- TODO -->
        @if (((List<Salary>) ViewData["Salaries"]).Count != 0)
        {
            <table class="admin-tables table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id employé</th>
                    <th scope="col">Nom employé</th>
                    <th scope="col">Prenom employé</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Mois</th>
                    <th scope="col">Année</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var salary in ((List<Salary>) ViewData["Salaries"])!)
                {
                    <tr>
                        <th scope="row">@salary.Id</th>
                        <td>@salary.EmployeId</td>
                        <td>@salary.Employe.Person.Nom</td>
                        <td>@salary.Employe.Person.Prenom</td>
                        <td>@salary.Amount</td>
                        <td>@salary.Month.Month</td>
                        <td>@salary.Month.Year</td>
                        <td>
                            <button class="status @(salary.Status.Contains("Pending") ? "btn btn-outline-warning" : "btn btn-outline-success")"
                                    style="--status-color: @(salary.Status.Contains("Pending") ? "254, 202, 87" : "0, 210, 211")">
                                @if (salary.Status.Contains("Pending"))
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                        <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                }
                                else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="status-icons bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                }
                                @salary.Status
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>
                <pre class="fw-bold fs-5">Rien à afficher ici -</pre>
            </p>
        }
    </div>
</div>