@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .profile {
            transform: scale(1.5, 1.5);
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestion Employe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/cb23c1ae28.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/root.css" asp-append-version="true"/>
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GestionEmploye.styles.css" asp-append-version="true"/>
</head>

<body>
    <header class="w-100 position-fixed" style="z-index: 100;/*backdrop-filter: blur(10px)*/">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Gestion Employe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="nav nav-pills mx-auto me-auto mb-2 mb-lg-0" id="v-pills-tab" role="tablist">
                        @if (Context.Session.GetInt32("Admin") == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link py-2 mx-2 px-4"
                                style='@(Context.Request.Path.ToString().ToLower().StartsWith("/admin") ? "background-color: #0d6efd29;":"")'
                                asp-area="" asp-controller="Admin" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-2 mx-2 px-4"
                                style='@(Context.Request.Path.ToString().ToLower().StartsWith("/employees") ? "background-color: #0d6efd29;":"")'
                                asp-area="" asp-controller="Employees" asp-action="Index">Employés</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-2 mx-2 px-4"
                                style='@(Context.Request.Path.ToString().ToLower().StartsWith("/conges") ? "background-color: #0d6efd29;":"")'
                                asp-area="" asp-controller="Conges" asp-action="Index">Congés</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-2 mx-2 px-4"
                                style='@(Context.Request.Path.ToString().ToLower().StartsWith("/salaries") ? "background-color: #0d6efd29;":"")'
                                asp-area="" asp-controller="Salaries" asp-action="Index">Paiements</a>
                            </li>
                        } else if(@Context.Session.GetInt32("Admin") == 0) {
                            <li class="nav-item">
                                <a class="nav-link py-2 mx-2 px-4"
                                style='@(Context.Request.Path.ToString().ToLower().StartsWith("/conges") ? "background-color: #0d6efd29;":"")'
                                asp-area="" asp-controller="Conges" asp-action="Index">Demander Congé</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-2 mx-2 px-4"
                                style='@(Context.Request.Path.ToString().ToLower().StartsWith("/employees") ? "background-color: #0d6efd29;":"")'
                                asp-area="" asp-controller="Employees" asp-action="Details"  asp-route-id='@Context.Session.GetInt32("EmployeId")'>Profile</a>
                            </li>
                        }
                    </ul>

                    <div class="d-flex gap-2 align-items-center">
                    @if (Context.Session.GetInt32("PersonId") != null)
                    {
                        <a class="btn btn-outline-danger" asp-action="Logout" asp-controller="Auth">
                            Se deconnecter
                        </a>

                    }
                    else
                    {
                        <a class="btn btn-primary" asp-action="Login" asp-controller="Auth">
                            Se connecter
                        </a>
                    }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container pt-3">
        <main role="main" style="padding-top: 4rem;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Gestion Employe 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/nav.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
